In [3]:
import mysql.connector
#import cursor
import pandas as pd
from sqlalchemy import create_engine        #para cargar las tablas de mysql

In [4]:
df_alquileres = pd.read_csv('alquileres_completo_limpio.csv')
df_compras = pd.read_csv('compras_completo_limpio.csv', low_memory=False)

In [ ]:
#quito el mapeo de nuevo orden de variables y de mapa_ccaa porque ya está incluido en el csv
#quitamos también el mapeo de ccaa

In [ ]:
df_alquileres.dtypes.items()

## NO EJECUTAR - Generar el esquema SQL - Mapeo de tipo de datos en MySQL - OPCIÓN 1

In [ ]:
#este código es más extensible pero a la vez flexible por si se quieren añadir más tipo de variables

In [ ]:
#mapeo de tipos de datos de pandas a MySQL

dtype_mapping = {
    'int64': 'INT',
    'float64': 'FLOAT',
    'object': 'VARCHAR(255)',
    'bool': 'BOOLEAN',
    'datetime64': 'DATETIME'
}

#función para generar la estructura SQL

def generate_mysql_schema(df, table_name):
    sql = f'CREATE TABLE {table_name} (\n'

    for col, dtype in df.dtypes.items():             #dtypes: cada tipo de dato de las variables
        mysql_type = dtype_mapping.get(str(dtype), 'TEXT')
        sql += f"    `{col}` {mysql_type},\n"

    sql = sql.rstrip(',\n') + '\n);'
    return sql

#generar el código SQL (este es el que se introduce en sql_schema)
sql_alquileres = generate_mysql_schema(df_alquileres, 'general_alquileres')
sql_compras = generate_mysql_schema(df_compras, 'general_compras')

#los guardamos en un archivo mysql porque no se puede leer completo (truncado)
with open('general_alquileres_mysql.sql', 'w') as f:
    f.write(sql_alquileres)

with open('general_compras_mysql.sql', 'w') as f:
    f.write(sql_compras)

print('Esquemas generados y guardados exitosamente')

In [ ]:
print(f'Columnas en alquileres: {df_alquileres.columns.tolist()}')
print(f'Columnas en compras: {df_compras.columns.tolist()}')

## Generar el esquema SQL automáticamente - OPCIÓN 2

In [ ]:
#este código es más conciso y útil para mapear tipos básicos

In [5]:
def inferir_tipo_sql(dtype):
    if pd.api.types.is_int64_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    else:
        return 'VARCHAR(255)'

def generar_schema(tabla, df):
    columnas = []
    for col, dtype in zip(df.columns, df.dtypes):
        tipo_sql = inferir_tipo_sql(dtype)
        columnas.append(f'`{col}` {tipo_sql}')
    return f'CREATE TABLE {tabla} (\n    '+',\n    '.join(columnas) + '\n);'

sql_schema_alquileres = generar_schema('general_alquileres', df_alquileres)
sql_schema_compras = generar_schema('general_compras', df_compras)

print(sql_schema_alquileres)
print(sql_schema_compras)

CREATE TABLE general_alquileres (
    `identificador` VARCHAR(255),
    `nombre` VARCHAR(255),
    `href` VARCHAR(255),
    `agencia` VARCHAR(255),
    `area` VARCHAR(255),
    `provincia` VARCHAR(255),
    `comunidad_autonoma` VARCHAR(255),
    `coordenadas` VARCHAR(255),
    `tipo_de_casa` VARCHAR(255),
    `planta` INT,
    `orientacion` VARCHAR(255),
    `precio` FLOAT,
    `precio_m2` FLOAT,
    `gastos_de_comunidad` VARCHAR(255),
    `antiguedad` VARCHAR(255),
    `conservacion` VARCHAR(255),
    `telefono` VARCHAR(255),
    `actualizacion` VARCHAR(255),
    `timestamp` VARCHAR(255),
    `superficie` FLOAT,
    `superficie_util` FLOAT,
    `superficie_construida` FLOAT,
    `habitaciones` INT,
    `baños` INT,
    `comedor` VARCHAR(255),
    `cocina_equipada` VARCHAR(255),
    `amueblado` VARCHAR(255),
    `lavadero` VARCHAR(255),
    `balcon` VARCHAR(255),
    `terraza` VARCHAR(255),
    `trastero` VARCHAR(255),
    `garaje` VARCHAR(255),
    `piscina` VARCHAR(255),
    `chimenea` VARCHAR(255),
    `jardin` VARCHAR(255),
    `exterior` VARCHAR(255),
    `carpinteria_interior` VARCHAR(255),
    `carpinteria_exterior` VARCHAR(255),
    `tipo_suelo` VARCHAR(255),
    `puerta_blindada` VARCHAR(255),
    `armarios_empotrados` VARCHAR(255),
    `luz` VARCHAR(255),
    `agua` VARCHAR(255),
    `gas` VARCHAR(255),
    `calefaccion` VARCHAR(255),
    `aire_acondicionado` VARCHAR(255),
    `sistema_de_seguridad` VARCHAR(255),
    `ascensor` VARCHAR(255),
    `portero_automatico` VARCHAR(255),
    `se_aceptan_mascotas` VARCHAR(255),
    `zona_comunitaria` VARCHAR(255),
    `sala_comunitaria` VARCHAR(255),
    `adaptado_a_personas_con_movilidad_reducida` VARCHAR(255),
    `zona_de_juegos_infantiles` VARCHAR(255),
    `cuarto_de_bicicletas` VARCHAR(255),
    `calle_alumbrada` VARCHAR(255),
    `alcantarillado` VARCHAR(255),
    `instalaciones_deportivas` VARCHAR(255),
    `certificado_energetico` VARCHAR(255),
    `aerotermia` VARCHAR(255),
    `vidrios_dobles` VARCHAR(255)
);
CREATE TABLE general_compras (
    `identificador` VARCHAR(255),
    `nombre` VARCHAR(255),
    `href` VARCHAR(255),
    `agencia` VARCHAR(255),
    `area` VARCHAR(255),
    `provincia` VARCHAR(255),
    `comunidad_autonoma` VARCHAR(255),
    `coordenadas` VARCHAR(255),
    `tipo_de_casa` VARCHAR(255),
    `planta` INT,
    `orientacion` VARCHAR(255),
    `precio` FLOAT,
    `precio_m2` FLOAT,
    `gastos_de_comunidad` VARCHAR(255),
    `antiguedad` VARCHAR(255),
    `conservacion` VARCHAR(255),
    `telefono` VARCHAR(255),
    `actualizacion` VARCHAR(255),
    `timestamp` VARCHAR(255),
    `superficie` FLOAT,
    `superficie_util` FLOAT,
    `superficie_construida` FLOAT,
    `habitaciones` INT,
    `baños` INT,
    `comedor` VARCHAR(255),
    `cocina_equipada` VARCHAR(255),
    `amueblado` VARCHAR(255),
    `lavadero` VARCHAR(255),
    `balcon` VARCHAR(255),
    `terraza` VARCHAR(255),
    `trastero` VARCHAR(255),
    `garaje` VARCHAR(255),
    `piscina` VARCHAR(255),
    `chimenea` VARCHAR(255),
    `jardin` VARCHAR(255),
    `exterior` VARCHAR(255),
    `carpinteria_interior` VARCHAR(255),
    `carpinteria_exterior` VARCHAR(255),
    `tipo_suelo` VARCHAR(255),
    `puerta_blindada` VARCHAR(255),
    `armarios_empotrados` VARCHAR(255),
    `luz` VARCHAR(255),
    `agua` VARCHAR(255),
    `gas` VARCHAR(255),
    `calefaccion` VARCHAR(255),
    `aire_acondicionado` VARCHAR(255),
    `sistema_de_seguridad` VARCHAR(255),
    `ascensor` VARCHAR(255),
    `portero_automatico` VARCHAR(255),
    `se_aceptan_mascotas` VARCHAR(255),
    `zona_comunitaria` VARCHAR(255),
    `sala_comunitaria` VARCHAR(255),
    `adaptado_a_personas_con_movilidad_reducida` VARCHAR(255),
    `zona_de_juegos_infantiles` VARCHAR(255),
    `cuarto_de_bicicletas` VARCHAR(255),
    `calle_alumbrada` VARCHAR(255),
    `alcantarillado` VARCHAR(255),
    `instalaciones_deportivas` VARCHAR(255),
    `proximidad_a_la_playa` VARCHAR(255),
    `en_construccion` VARCHAR(255),
    `gastroteca` VARCHAR(255),
    `certificado_energetico` VARCHAR(255),
    `aerotermia` VARCHAR(255),
    `vidrios_dobles` VARCHAR(255)
);

/var/folders/p7/72yj56cn69576q6jyw_n0x580000gn/T/ipykernel_34664/1170781485.py:2: DeprecationWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(dtype):
/var/folders/p7/72yj56cn69576q6jyw_n0x580000gn/T/ipykernel_34664/1170781485.py:2: DeprecationWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(dtype):

## Conexión a la base de datos y carga de datos desde csv a la tabla de mysql

In [4]:
#parámetros de conexión
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='analisis_inmobiliario'
)

cursor = connection.cursor()

try:
    cursor.execute(sql_schema_alquileres)
    print("Tabla general_alquileres creada exitosamente.")

    cursor.execute(sql_schema_compras)
    print('Tabla general_compras creada exitosamente')

    connection.commit()

except mysql.connector.Error as err:
    print(f'Error: {err}')

cursor.close()
connection.close()

Error: 1050 (42S01): Table 'general_alquileres' already exists

In [ ]:
print(df_alquileres.head())
print(df_alquileres.dtypes)
print(df_compras.head())
print(df_compras.dtypes)

## Insertar datos desde el CSV a las tablas

In [6]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='analisis_inmobiliario'
)

cursor = connection.cursor()

def insertar_datos(tabla, df):
    columnas = ', '.join([f"`{col}`" for col in df.columns])
    valores = ', '.join(['%s'] * len(df.columns))
    query = f"INSERT INTO {tabla} ({columnas}) VALUES ({valores})"

    for _, row in df.iterrows():
        try:
            cursor.execute(query, tuple(row))
        except Exception as e:
            print(f"❌ Error al insertar fila: {e}")
            print(row)

    connection.commit()
    print(f"✅ {len(df)} registros insertados en '{tabla}'.")    

#insertar datos de los csv en las tablas
insertar_datos("general_alquileres", df_alquileres)
insertar_datos("general_compras", df_compras)

#cerrar la conexión
cursor.close()
connection.close()
print('Conexión cerrada')

✅ 13483 registros insertados en 'general_alquileres'.
✅ 192213 registros insertados en 'general_compras'.
Conexión cerrada